datalist {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

input[type="range"] {
    width: 85%;
    filter: hue-rotate(130deg);
}

.status-slider {
    width: 100%;
    text-align: center;
}

.form-control-range {
    background: red;
}

#v-pills-tabContent {
    width: 100%;
    background-color: #202022;
}

table {
    text-align: center;
}

#aboutCalspeed {
    text-align: justify;
}

#contentTitle {
    background-color: #0099cc;
}

.nav-link {
    padding: 8%;
    font-size: x-large;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,1);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #202022;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 30px;
  }
  
  @media screen and (max-height: 1000px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 1px;
    right: 10px;
    }
  }