datalist {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

input[type="range"] {
    width: 85%;
    filter: hue-rotate(130deg);
}

.status-slider {
    width: 100%;
    text-align: center;
}

.form-control-range {
    background: red;
}

#v-pills-tabContent {
    width: 100%;
    background-color: #202022;
}

table {
    text-align: center;
}